<!DOCTYPE html>
<html>
<head>
  <title>My App</title>
  <link rel="stylesheet" href="/index.css"/>
  <script src="/zepto.min.js"></script>
</head>
<body>
     <div class="todoapp" id="root">
      <%- markup %>
    </div>
    <script>
    	window.__INITIAL_STATE__=<%- initialState %>;
    </script>
    <script src="/static/bundle.js"></script>
</body>
</html>
