<!DOCTYPE html>
<html>
<head>
  <title>My App</title>
  <link rel="stylesheet" href="/index.css"/>
</head>
<body>
     <div class="todoapp" id="root">
      <%- markup %>
    </div>
    <script src="/static/bundle.js"></script>
</body>
</html>
